.bg-green {
    background-image: url("../images/bg1.jpeg");
    background-repeat:repeat;
}

.bg-test{
    background-image: url("../images/event.jpeg");
    background-position: top center; /* 20px 10px */
    background-repeat: no-repeat;
    
    /* Shorthand */
    /* background: #b2b2b2 url("IMAGE_NAME.png") 20px 10px no-repeat; */
}

.bg-grad-linear {
    background: #466368;
    /* -webkit- Safari | Google Chrome */
    /* -moz- Firefox */
    /* -ms-  Microsoft Internet Explorer */
    background: -webkit-linear-gradient(#5dcc20, #f7d0d8);
    background: -moz-linear-gradient(#5dcc20, #f7d0d8);
    background: -ms-linear-gradient(#5dcc20, #f7d0d8);
    background: linear-gradient(#5dcc20, #f7d0d8);
}

.navigation ul {
    margin: 0;
    padding:10px;
    text-transform: uppercase;
    font:bold 11px "Helvetica Neue", Helvetica, Arial;
}

.navigation ul li{
    display: inline-block;
}

.navigation a {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    border-right: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0;
    color: #fff;
    margin: -2px;
    padding: 12px 20px;
    text-decoration: none;
}

.navigation a:hover {
    background: #314b60;
}

.navigation li:first-child a {
    border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}
