# Basic .gitattributes for a python repo.

# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).

*.css linguist-language=Python
html/chapter2/*.html linguist-language=Python
html/chapter3/*.html linguist-language=Python
html/chapter4/*.html linguist-language=Python
html/chapter5/*.html linguist-language=Python
html/chapter6/*.html linguist-language=Python
