body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
}

.subhead {
    font-style: italic;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.bold {
    font-weight: bold;
}

h1 {
    text-shadow: 2px 1px 5px gray;
    text-transform: uppercase;
    font-family: "Lobster", Helvetica
}